<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hackathon.completeroute"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="16"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher_cr"
                 android:theme="@style/BasicTheme" android:name=".ui.CompleteRouteApplication"
                 android:debuggable="true"
                 android:killAfterRestore="true" android:persistent="false"
                 android:description="@string/app_description">
        <activity android:label="@string/app_name" android:name=".ui.CategoryGridActivity"
                  android:icon="@drawable/ic_launcher_cr" android:launchMode="singleInstance"
                  android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:label="@string/app_name" android:name=".ui.CompanyListActivity"
                  android:icon="@drawable/ic_launcher_cr" android:launchMode="singleInstance"
                  android:screenOrientation="unspecified">
        </activity>
    </application>
</manifest>
